* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Quicksand', sans-serif; */
}

:root {
  --color-primary: #0055B7;
  --menu-background: #010101;
  --text-color: #FAFAFA;
}

::selection {
  background-color: var(--color-primary);
  color: var(--text-color);
}

.container-header {
  background-color: var(--menu-background);
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
@media (max-width: 1200px) {
  /* Adicionando um margin casa a tela tenha menos de 1200px */
  .header {
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 70px;
  }
}

.acessibilidade {
  font-size: 10px;
}
.acessibilidade ul {
  display: flex;
}
.acessibilidade a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
}

.container-title {
  display: flex;
  align-items: center;
}

.title {
  color: var(--text-color);
  font-size: 24px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}
.menu {
  list-style: none;
  display: flex;
}

.menu-item {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 10px;
}
.menu-item:hover {
  border-bottom: 3px var(--text-color) solid;
}

.menu-icon {
  cursor: pointer;
}
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

/* Classe auxiliar */
@keyframes menuAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--color-primary);
  animation: menuAnimation 2s;
}

.show > ul {
  flex-direction: column;
}
.show > ul > li {
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
}
